* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}


form {
    text-align: center;
}

form button {
    cursor: pointer;
}

form input{
    cursor: text;
}

ul {
    margin-top: 100px;
}

ul li {
    cursor: pointer;
}

.tachado {
    text-decoration: line-through;
}